{% load static %}
<header class="header-section">
  <div class="container">
    <div class="logo">
      <a href="./index.html">
        <img src="{% static 'img/logo.png' %}" alt="">
      </a>
    </div>
    <div class="nav-menu">
      <nav class="mainmenu mobile-menu">
        <ul>
          <li class="active"><a href="./index.html">Home</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Create</a></li>
          <li><a href="#">Discover events</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </nav>
      {% if request.user.is_authenticated %}
      <span></span>
      {% else %}
      <a href="{% url 'login' %}" class="primary-btn top-btn">Login</a>
      {% endif %}
    </div>
    <div id="mobile-menu-wrap"></div>
  </div>
</header>