{% load static %}
<header class="header-section">
  <div class="container">
    <div class="logo">
      <a href="/">
        <!-- Text Logo -->
        <span class="logo-text">e-tkets</span>
      </a>
    </div>
    
    <div id="mobile-menu-wrap">
      <div class="nav-menu">
        <nav class="mainmenu mobile-menu">
          <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="#">About</a></li>
            <li><a href="#">How it works</a></li>
            <li><a href="#">Discover events</a></li>
            <li><a href="#">Contacts</a></li>
            <div class="auth-btn">
              {% if request.user.is_authenticated %}
              <!-- Profile Icon -->
              <a href="{% url 'profile' %}">
                <i class="fas fa-user"></i> Profile
              </a>
              {% else %}
              <a href="{% url 'login' %}">
                <i class="fas fa-lock"></i> Login</a>
              {% endif %}
            </div>
          </ul>
        </nav>
     
      </div>
    </div>
  </div>
</header>